.notification {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}


.active {
    background-color: #eee;
}

.notification span {
    text-wrap: nowrap;
}

.textBox {
    display: grid;
    gap: 5px;
    align-items: center;
}

.username {
    grid-area: 1/1/2/2;
}

.notificationType {
    grid-area: 1/2/2/3;
    color: hsl(224, 21%, 14%);
}

.target {
    grid-area: 1/3/2/4;
    font-weight: bold;
}

.timestamp {
    grid-area: 2/1/3/2;
    color: hsl(219, 12%, 42%);
}

.notification p {
    grid-area: 3/1/4/4;
    border: 2px solid darkgrey;
    padding: 20px;
}

.activeNotification {
    background-color: hsl(1, 90%, 64%);
    width: 10px;
    height: 10px;
    border-radius: 25px;
    grid-area: 1/4/2/5;
}