.notification {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
}

.textBox {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
}

.notificationType {
    color: hsl(219, 12%, 42%);
}

.target {
    font-weight: bold;
}

.timestamp {
    color: hsl(219, 12%, 42%);
}

.notification p {
    border: 2px solid hsl(205, 33%, 90%);
    color: hsl(219, 12%, 42%);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.activeNotification {
    background-color: hsl(1, 90%, 64%);
    width: 10px;
    height: 10px;
    border-radius: 25px;
}

.username:hover {
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}

.target:hover {
    color: hsl(219, 85%, 26%);
    cursor: pointer;
}

.notification p:hover {
    background-color: #eee;
    cursor: pointer;
}