.notification {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 100ms ease;
}